@bgColor: #efefef;

.timeLine{
  padding-left: 80px;
  .el-timeline-item__timestamp.is-top{
    position: absolute;
    left: -80px;
  }
}
.data-log{
  .el-select .el-input {
    width: 130px;
  }
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
}

