.create-view {
  .from {
    .select-org-panel {
      display: flex;

      .select-btn {
        padding-right: 5px;

        p:nth-of-type(2) {
          margin-top: 5px;
        }
      }
    }

    .select-org {
      border: 1px solid #BBBBBB;
      height: 350px;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 300px;

      .el-tree {
        height: 350px;
        width: 100%;
      }
    }
  }

  .imenu-icon {
    color: #409EFF;
    font-size: 16px;
    margin: 0 5px;
  }
  .delete-icon {
    color: #409EFF;
    font-size: 16px;
    margin: 0 5px;
    display: none;
  }
  /deep/.el-tree-node__content{
    position: relative;
    .fa-trash-o{
      position: absolute;
      right: 0;
      top:5px;
    }
  }
}
