.create-view {
  .from {
    .tree-panel{
      display: flex;
      margin-bottom: 20px;
    }
    .drag-tips{
      width: 160px;
      p{
        padding: 0 30px;
      }
      .tips-img{
        padding-top: 100px;
        text-align: center;
      }
      .tips-title{
       span{
         color: #6D7278;
       }
      }
      img{
        width: 28px;
      }
    }
    .select-org-panel {
      display: flex;

      .select-btn {
        padding-right: 5px;

        p:nth-of-type(2) {
          margin-top: 5px;
        }
      }
    }

    .select-org {
      border: 1px solid #BBBBBB;
      height: 420px;
      overflow-y: auto;
      overflow-x: hidden;
      width: 350px;

      .el-tree {
        height: 350px;
        width: 100%;
      }
    }
  }
.tree-form{
  .el-form-item{
    margin-bottom: 0px;
  }
  .el-row{
    margin-bottom: 20px;
  }
}
  .imenu-icon {
    font-size: 16px;
    margin: 0 5px;
  }

  .delete-icon {
    color: #FC7049;
    font-size: 16px;
    margin: 0 5px;
    display: none;
  }

  /deep/ .el-tree-node__content {
    position: relative;

    .fa-trash-o {
      position: absolute;
      right: 0;
      top: 5px;
    }
  }

  .tree-title {
    color: #606266;
    padding-bottom: 10px;
  }
}
