

.site__head {
  padding: 0 10px 0 0;
  color: #333;
  height: 80px;
  min-width: 900px;
  display: flex;
  .logo {
    min-width: 210px;
    height: 100%;
    text-align: center;
    background-color: #F6F8FC;
    border-bottom: 2px solid #f5f5f5;
    box-sizing: border-box;
    img {
      width: 60px;
      margin-top: 10px;
      border-radius: 50%;
      // vertical-align: middle;
    }
  }
  .site__head-content {
    padding-left: 20px;
    display: flex;
    height: inherit;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .site__head--center {
    // background-color: #333;
    flex: 1 1 auto;
    display: flex;

  

    .name {
      flex: 1;
      h2 {
        // padding: 9px 0 0 10px;
        font-family: "書體坊顏體㊣"; 
        color: #364064;
        span{
         cursor: pointer;
        img{
          width:24px;
          vertical-align: middle;
        }
        }
      }
    }
  }

  .site__head--left, .site__head--right {
    flex: 0 1 auto;
    height: inherit;
    line-height: 80px;
  }

  .site__head--left img {
    position: relative;
    top: 1px;
  }

  .site__head--right {
    padding-right: 5px;
    text-align: right;
    font-size: 16px;
    background-color: #3997fa 8700% 8700%;
    .my-apply{
      margin: 0px 15px;
      cursor: pointer;
    }
    .userIcon{
      color:#3694f7;
      font-weight: bold;
      // #A9CFC8F5  #3997fa
      margin-right: 3px;
    }
    .ico {
      font-size: 16px;
      margin: 0 5px 0 0px;
    }
    .fa-sign-in{
      text-decoration: none;
    }
    a{
      font-size: 14px;
      color:#333;
    }
  }

  .site__head--left {
    text-align: center;

    a {
      text-decoration: none;
      color: #FFFFFF;

      img {
        vertical-align: middle;
      }
    }
  }

  .el-menu {
    border-bottom: none;
  }

  .el-dropdown {
    cursor: pointer;
  }
}
