.PersonInfo{

  .find{
    position: absolute;
    right: -40px;
    top:0px;
    cursor: pointer;
  }
  .table-td{
    width: 100%;
    text-overflow :ellipsis;
    white-space:nowrap;
    cursor: pointer;
    overflow: hidden;
  }


}
