  .header-img {
display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 5px;
    border-radius:50%;
    background: #FC7049;
    font-size: 10px;
    color: #FFFFFF;
  }
/deep/ .cell {
  line-height: 40px;
}
