.tags-mnagement{
  .operate{
    margin-bottom: 20px;
    .el-select{
      width: 120px;
      margin-right: 10px;
    }
  }
    .tag-panel{
      .el-tree{
        width: 50%;
        .tag-icon{
          color: #b1a8e4;
        }
        .tag-icon-operate{
          color: #8c939d;
          padding: 0 10px;
          display: none;
        }
      }
      .svg-container,.custom-tree-node {
        font-size: 14px;
        padding-right: 8px;
        .custom-tree-float{
          margin-left: 30px;
        }
        .delete{
          color:#b1a8e4 ;
        }
      }
    }
  .el-tree-node__content:hover{
    .tag-icon-operate{
      display: inline-block;
    }
  }
}
