.tags-mnagement .operate {
  margin-bottom: 20px;
}
.tags-mnagement .operate .el-select {
  width: 120px;
  margin-right: 10px;
}
.tags-mnagement .tag-panel .el-tree {
  width: 50%;
}
.tags-mnagement .tag-panel .el-tree .tag-icon {
  color: #FC7049;
}
.tags-mnagement .tag-panel .el-tree .tag-icon-operate {
  color: #8c939d;
  padding: 0 10px;
  display: none;
}
.tags-mnagement .tag-panel .svg-container,
.tags-mnagement .tag-panel .custom-tree-node {
  font-size: 14px;
  padding-right: 8px;
}
.tags-mnagement .tag-panel .svg-container .custom-tree-float,
.tags-mnagement .tag-panel .custom-tree-node .custom-tree-float {
  margin-left: 30px;
}
.tags-mnagement .tag-panel .svg-container .delete,
.tags-mnagement .tag-panel .custom-tree-node .delete {
  color: #FA6400;
}
.tags-mnagement .el-tree-node__content:hover .tag-icon-operate {
  display: inline-block;
}
