.eltable-member{
    thead{
        padding: 0!important;
        height: 50px;
        line-height: 50px;
        display: none!important;
    }
    tr{
       td{
        border-bottom: 0!important;
           background: #f4f5f8;
        padding: 5px 0px!important;
        max-height: 50px!important;
        line-height: 50px!important
       }
    }
    .member-name{
        color:#1D1E22;font-weight:bold;
    }
    .member-post{
        color:#999
    }
}
