.search-content{
  position: relative;
  .el-popover{
    display: block !important;
    top: 50px;
    width: 100% !important;
  }
  .result-list{
    .back-btn{
      text-align: right;
    }
  }
}
