.homePage{
  .first-box{
    
  }
  .home-box{
    width: 100%;
    padding: 12px 20px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
     margin-bottom: 30px;
    border-radius: 5px;
    .header-title{
      font-size: 16px;
      margin-bottom: 5px;
      color: #b1a8e4;
    }
    .notice{
      padding-bottom: 16px;
    }

  .announcement-box{
      display: flex;
      justify-content: space-between;
      position: relative;
      .noticeInfo:nth-child(1){
        padding-right: 25px;
        border-right: 1px  solid rgba(0, 0, 0, 0.1);
      }
      .noticeInfo:nth-child(2){
        padding-left: 25px;
        border-left: 1px  solid rgba(0, 0, 0, 0.1);
      }
      .noticeInfo{
        width: 50%;
        box-sizing: border-box;
        p{
          padding: 5px  0px;
          font-size: 13px;
          color:#777 ;
          cursor: pointer;
          span{
            cursor: pointer;
          }
          .msg{
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .date{
            display: inline-block;
            width: 100%;
            text-align: right;
          }
        }

      }
      a{
        font-size: 12px;
        color:#b1a8e4;
        position: absolute;
        right: 0px;
        bottom: -4px;
      }
    }
  }

}
