.homePage{
  #content-container{
    overflow: hidden;
  }
  .first-box{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .box-card{
      width: 400px;
      // height: 138px;
      border-radius: 15px;
      .statics{
        display:flex;
        justify-content: space-around;
        height: 90px;
        .statics-left{
          h4{

            padding: 5px 0 0 10px;
          }
        }
        .statics-right{
          img{
            width: 120px;
          }
        }
      }
    }
  }
  .first-box1{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    .statics{
      width: 400px;
      height: 138px;
      background-size: 100% 100%;
    }
    // .statics:nth-child(1){
    //   background-image: url('../../common/images/new/yesterday-login.png');
    // }
    // .statics:nth-child(2){
    //   background-image: url('../../common/images/new/export.png');
    // }
  }
  .home-box{
    width: 100%;
    /deep/.box-card .el-card__header{
      padding: 10px 20px;
    }
  .announcement-box{
     padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      position: relative;
      .noticeInfo:nth-child(1){
        padding-right: 25px;
        border-right: 1px  solid rgba(0, 0, 0, 0.1);
      }
      .noticeInfo:nth-child(2){
        padding-left: 25px;
        border-left: 1px  solid rgba(0, 0, 0, 0.1);
      }
      .noticeInfo{
        width: 50%;
        box-sizing: border-box;
        p{
          padding: 5px  0px;
          font-size: 13px;
          color:#777 ;
          cursor: pointer;
          span{
            cursor: pointer;
          }
          .msg{
            display: inline-block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .date{
            display: inline-block;
            width: 100%;
            text-align: right;
          }
        }

      }
      a{
        font-size: 12px;
        color:#b1a8e4;
        position: absolute;
        right: 0px;
        bottom: -4px;
      }
    }
  }

}
