.organization-content{
  height: 100%;
  .organization-left{
    padding-right: 20px;
    border-right: 1px solid rgba(224, 224, 224, 1);
  }
  .tree-filter{
    width: 80px;
  }
  .tree-search{
    width: 220px;
  }
  .tree-content{
    padding: 20px 0;
  }
  .fa-sitemap{
    color: #409EFF;
  }
  .fa-user-o{
    color: #409EFF;
  }
  .el-menu-item {
    height: 30px !important;
    line-height: 30px !important;
    border-bottom: 1px solid transparent;
  }
  .el-menu-demo{
    margin-bottom: 20px;
  }
}
