@import '../../organization/person-detail/index';
@bgColor: #efefef;
.pass-change .modifiePwd{
  padding-top: 20px;
  .account-info{
    text-align: center;
    p{
      text-align: center;
      font-size: 18px;
    }
  }
  .el-button{
    border: none;
    margin-top: 10px;
  }
  .account-name{
    font-size: 14px;
  }
  .el-icon-user{
    font-size: 16px;
  }
  .el-icon-user:before{
    margin-right: 10px;
  }
  .el-form-item{
    margin-right: 350px;
  }
  .pass-rule{
    padding-left: 20px;
    height: 50px;
    line-height: 40px;
  }
  .el-icon-warning{
    margin-right: 5px;
  }
  .form-btn1{
    background: #FC7049 !important;
    color: #ffffff !important;
    padding: 8px 5px !important;
  }
  
  
  
  }
.sucessPwd-box{
    padding:15px;
    background-color: #EBEEF5;
  }
 .msg-box{
   padding: 28px 0;
   text-align: center;
   background-color: #F5F7FA;
 }
 .header-title{
  padding: 20px;
}
.el-dialog__body{
  padding: 10px 20px;
}

 

 