.authority-role-setting {
  position: relative;
  height: 100%;
  width: 100%;
  .authority-row {
    overflow-y: auto;
    width: 100%;
  }
  .authority-content {
    overflow-y: auto;
    margin-bottom: 10px;
  }
  .authority-setting-footer {
    margin-top: 20px;
    text-align: center;
  }
}
