.scope-authorization{
  .operate-btn{
    background: #fff1ed;
    width: 100%;
    overflow: hidden;
    line-height: 35px;
   padding: 10px 10px;
    color: #101010;
  }
}
.table{
  margin-top: 20px;
  table{
    width: 100%;
    // border: 1px solid blue;
    border-collapse: collapse;
    tr,td{
      border: 1px solid rgba(199, 198, 198, 0.6);
      padding: 15px;
      text-align: center;
    }
    tr,td:nth-child(1){
      width: 200px;
    }
  }
}
