.push-log{
  padding: 0px 20px;
  min-height: 400px;
  /deep/.el-dialog__body{
    padding: 10px;
    max-height: 310px;
    overflow: auto;
  }

  /deep/.el-dialog__header{
    background-color: #fff;
  }
  .el-dialog .el-form-item{
    margin-bottom: 5px;
    margin-right: 0px;
    width: 100%;
  }
  .el-dialog .el-form-item:nth-child(n){
    background: #f0f9eb;
  }
  .el-dialog .el-form-item:nth-child(2n){
    background: #fff;
  }
  .table-td{
    // width: 200;
    padding: 0px 10px;
    position: relative;
    p{
      text-indent:2em
    }
  }
}
