.person-manage-content,.pass-change{
  width: 100%;
  .row-item{
    padding-top: 20px;
  }
  .default-warn{
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
    color: #FF6633 !important;
  }
  .el-table__row{
    cursor: pointer;
  }
  .el-tag{
    margin: 5px !important;
  }
  .from-title{
    cursor: pointer;
    .icon-right{
      float: right;
    }
  }
  .el-menu-item{
    padding: 0 0 !important;
    color: #333333;
  }
  .add-person-footer{
    margin: 20px 0;
  }
  .form-btn1{
    background: #FC7049 !important;
    padding: 10px;
    color: #ffffff !important;
  }
}
