.exportPersonPage .info {
  width: 80%;
  background-color: #ebf9ff;
  border: 1px solid #31aafb;
  border-radius: 0.1875rem /* 3/16 */;
  color: black;
  position: relative;
  padding: 5px;
}
.exportPersonPage .info .el-icon-info {
  display: inline-block;
  position: absolute;
  color: #159cf6;
  font-size: 1.375rem /* 22/16 */;
  left: 10px;
  top: 8px;
}
.exportPersonPage .info .message {
  margin-left: 25px;
}
.exportPersonPage .info p {
  font-size: 12px;
  margin: 0px;
  padding: 3px 5px;
}
.exportPersonPage .stepNav {
  height: 5.625rem /* 90/16 */;
}
.exportPersonPage .stepNav .el-step__icon {
  background-color: #159cf6;
  color: white;
  border: none;
}
.exportPersonPage .stepNav .el-step__description {
  font-size: 0.875rem /* 14/16 */;
}
.exportPersonPage .submitBtn {
  text-align: center;
}
.exportPersonPage .uploadForm {
  display: inline-block;
}
.exportPersonPage .uploadForm .uploadMembers {
  margin-left: 10px;
}
.exportPersonPage .uploadForm .uploadMembers .el-button {
  font-size: 14px;
}
