.select-members {
  .tree {
    display: flex;

    .view-tree {
      flex: 1;

      .views {
        width: 230px;
        overflow: auto;
        height: 287px;
        border: 1px solid #EBEEF5;
      }

      .el-tree {
        width: 100%;
        min-width: 100%;
        border-radius: 2px;
        display: ruby-base-container;
        .imenu-icon {
          font-size: 16px;
          margin: 0 5px;
        }
      }
    }

    .transfer {
      flex: 2;
    }
  }

  .top-operate {
    /deep/ .result-list {
      height: 280px;
      overflow-y: auto;
    }

    .search {
      padding: 15px 0;
    }
  }

  .submit {
    text-align: center;
    padding-top: 15px;
  }
  .site-scroll{
    height: 100%;
  }
}
/deep/.el-transfer-panel__list::-webkit-scrollbar
{
  width:16px;
  height:16px;
  background-color:#F5F5F5;
}
/*定义滚动条轨道
 内阴影+圆角*/
/deep/.el-transfer-panel__list::-webkit-scrollbar-track
{
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
  border-radius:10px;
  background-color:#F5F5F5;
}
/*定义滑块
 内阴影+圆角*/
/deep/.el-transfer-panel__list::-webkit-scrollbar-thumb
{
  border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
  background-color:#555;
}
