.select-members{
  .wait-select{
    margin: 0px 20px;
  }
  .tree{
    width: 100%;
    .el-tree{
      display: inline-block;
    }
  }
  .tree,.wait-select,.container{
    flex: 1;
    height: 320px;
    border: 1px solid #DCDFE6;
    overflow: auto;
    padding: 5px;
  }
  .search{
    padding: 15px 0;
  }
  .submit{
    padding-top: 15px;
    text-align: center;
  }
}
/deep/.el-checkbox__label{
  display: inline;
}

