.select-members{
  .wait-select, .panel-wait-select .panel-title{
    margin: 0px 20px;
  }
  .tree{
    width: 100%;
    .el-tree{
      display: inline-block;
    }
  }
  .panel {
    flex: 1;
    width: 30%;
    height: 320px;
    padding: 0;
    // position: relative;
    // overflow: auto;
    .panel-title {
      height:2em;
      line-height: 2em;

    }
  }
  .tree,.container{
    height: 100%;
    border: 1px solid #DCDFE6;
    overflow: auto;
    padding: 5px;
  }
  .wait-select{
    height:100%;
    border: 1px solid #DCDFE6;
    box-sizing: border-box;
    overflow: auto;
  }
  .wait-select1{
    height:100%;
    position: relative;
    overflow-x: auto;
    .wait-checkbox{
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 5px;
        padding-bottom: 35px;
        box-sizing: border-box;
    }
  .wait-page{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left:0px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #DCDFE6;
    border-right: none;
    border-bottom: none;
    z-index: 200;
    background-color: #fff;
    text-align: center;
}
}
  .search{
    padding: 15px 0;
  }
  .submit{
    padding-top: 45px;
    text-align: center;
  }
  /deep/.el-checkbox__label,.el-radio__label{
    display: inline;
    position: relative;
    padding-left: 5px;
  }
  .el-radio-group {
    width: 100%;
  }
  /deep/.el-checkbox,.el-radio{
      display: block;
      width: 100%;
      margin-right: 0px;
      line-height: 22px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
      padding-left: 5px;
  }
}


