.organization-content{
  overflow: hidden;
    .organ-top{
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content:center;
      padding-right: 10px;
      .top-one{
        flex: 1;
        text-align: center;
        padding: 8px 0px;
        cursor: pointer;
        border-left: 1px solid #DCDFE6;
        border-top: 1px solid #DCDFE6;
        border-bottom: 1px solid #DCDFE6;
      }
      .top-two{
        border-right: 1px solid #DCDFE6;
        border-top: 1px solid #DCDFE6;
        border-bottom: 1px solid #DCDFE6;
        flex: 1;
        text-align: center;
        padding: 8px 0px;
        cursor: pointer;
      }
      .top-active{
        color: #ffffff;
        background:#409EFF;
      }
    }




    .site-scroll{
      position: relative;
      height: 100% !important;
      overflow-y: auto !important;
    }
    .organization-left{
      padding-right: 20px;
      border-right: 1px solid rgba(224, 224, 224, 1);
    }
    .tree-filter{
      width: 80px;
    }
    .tree-search{
      width: 220px;
    }
    .tree-content{
      padding: 20px 0;
    }
    .fa-sitemap{
      color: #409EFF;
    }
    .fa-user-o{
      color: #409EFF;
    }
    .el-menu-item {
      height: 30px !important;
      line-height: 30px !important;
      border-bottom: 1px solid transparent;
    }
    .el-menu-demo{
      margin-bottom: 20px;
    }
    .add-tag-btn{
      cursor: pointer !important;
    }
  }
  