.area-content{

  position: relative;
   
  .tree-content{
    height: 80%;
    overflow: auto;
  }
  .tree-footer{
    padding: 20px 0;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}


