.area-content {
  border: 1px solid red;
  height: 100%;
}
.area-content .tree-content {
  height: 80%;
  overflow: auto;
}
.area-content .tree-footer {
  padding: 20px 0;
  text-align: right;
  position: fixed;
  bottom: 0;
  right: 0;
}
