.multiple-accounts {
  /deep/.el-dialog__headerbtn {
    right: 15px;
  }

  /deep/.el-dialog__header {
    background-color: #fff;
    font-size: 14px;
  }

  /deep/.el-table .odd-row {
    background: #f0f9eb;
  }

  /deep/.el-table .even-row {
    background: #fff;
  }
}
