.notice{
  .notice-header{
    height: 35px;
    border-bottom: 1px solid #EBEEF5;
    line-height: 35px;
    position: relative;
    i{
      position: absolute;
      right:12px;
      top:8px;
      cursor: pointer;
    }
  }
  
  .notice-content{
    padding: 0px 12px 0px 12px;
    .el-table .cell{
      padding: 0px;
    }
    .notice-info{
      padding: 2px 0;
      position: relative;
      .btn{
        position: absolute;
        top:30%;
        right: 0px;
      }
      .notice-msg{
        font-size: 12px;
      }
    }
    
    .nitoce-footer{
      padding: 8px 0px;
      font-size: 12px;
      a{
        color:red;
      }
      a:nth-child(2){
        float: right;
      }
    }
    p{
      font-size: 12px;
    }
  }
}
