.notice{
  .notice-header{
    height: 35px;
    border-bottom: 1px solid #EBEEF5;
    line-height: 35px;
    position: relative;
    i{
      position: absolute;
      right:12px;
      top:8px;
      cursor: pointer;
    }
  }
  
  .notice-content{
    padding: 0px 12px 0px 12px;
    .el-table .cell{
      padding: 0px;
    }
    .el-table__row:hover> td{
        background: #fff !important;
    }
    .notice-info{
      padding: 2px 0;
      position: relative;
      .btn{
        position: absolute;
        top:30%;
        right: 0px;
      }
      .notice-msg{
        font-size: 12px;
        p{
          width: 250px;
          // background-color: pink;
          white-space: nowrap;
          // 溢出显示省略号
          text-overflow: ellipsis;
          // 溢出的部分隐藏
          overflow: hidden;
          cursor: pointer;
          }
      }
    }
    
    .nitoce-footer{
      // padding: 8px 0px;
      line-height: 30px;
      font-size: 12px;
      a{
        color:#58a4f3;
      }
      .findMore{
        float: right;
      }
    }
    p{
      font-size: 12px;
    }
  }
}
