.notification{
  .notice-info{
    padding: 10px 15px;
    background-color: #EBEEF5;
    margin-bottom: 10px;
    position: relative;
    .notice-msg{
      font-size: 12px;
      padding: 3px 0;
      span:nth-child(2){
        position: absolute;
        right:15px;
        top:20px;
      }
    }
  }
}
.empty{
  text-align: center;
  border: 1px solid #EBEEF5;
}
